<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543622703389-992sn8tnadmjcoicr0ps6ckjotftnatf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543622703389-992sn8tnadmjcoicr0ps6ckjotftnatf</string>
	<key>API_KEY</key>
	<string>AIzaSyDEi_u2i7Ynj0ZLxMo-EpbjWC45BIbuInA</string>
	<key>GCM_SENDER_ID</key>
	<string>543622703389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-a3284</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-a3284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543622703389:ios:27ed90d02221766bb599f4</string>
</dict>
</plist>